* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat',sans-serif;;
}
/*---------------------------------------
                  Navbar
 ----------------------------------------*/
nav {
  display: flex;
  width: 100%;
}
nav > h2 {
  width: 40%;
  font-size: 36px;
  line-height: 80px;
  font-weight: bold;
  margin-left: 28px;
}
nav > ul {
  margin-top: 24px;
  width: 60%; */
  margin-left: 75px;
  display: flex;
  
}
nav ul li {
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
}
nav ul li a {
  font-size: 22px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
ul .fas {
  font-size: 22px;
  margin-right: 35px;
}

/*---------------------------------------
                   Header Start 
 ----------------------------------------*/

header {
  display: flex;
}
header h1 {
  font-weight: 700;
  font-size: 56px;
  margin-bottom: 15px;
}
header p {
  margin-bottom: 40px;
  font-size: 26px;
}
header a {
  padding: 5px;
  color: white;
  border-radius: 41px;
  font-size: 25px;
  background-color: #893fff;
  text-decoration: none;
  transition: 0.5s;
}
header a:hover {
  background-color: #3fb1ff;
}
header i {
  color: white;
  margin-left: 8px;
}
.header-text {
  padding: 15px;
  margin-top: 100px;
  width: 50%;
}
.header-image {
  margin-left: 100px;
  background-image: url(../images/circle-design.svg);
  background-repeat: no-repeat;
  background-position: relative;
  background-size: 450px 450px;
}
.header-image img {
  width: 100%;
  margin-bottom: 100px;
}

/*---------------------------------------
                   Header End 
 ----------------------------------------*/

/*---------------------------------------
     Popular Collection section Start 
 ----------------------------------------*/
section h2 {
  font-size:32px;
  text-align: center;
  margin-bottom: 35px;
}
.collections {
  width: 100%;
  align-item: center;
  justify-content: center;
  margin-right: 45px;
  display: flex;
  flex-wrap: wrap;
}
.collection-card {
  height: 476px;
  width: 329px;
  margin: 15px;
  padding: 14px;
  border-radius: 8px;
  box-shadow: 5px 5px 11px #b3b3b3, -5px -5px 11px #ffffff;
  transition: 0.6s;
}
.collection-card:hover {
  background-color: #c9e9ff;
}
.collection-card img {
  width: 100%;
}
.collection-card h3 {
  padding-top: 16px;
  font-size: 28px;
  margin-top: 6px;
}
.collection-card h4 {
  padding-top: 10px;
  font-size: 24px;
  margin-top: 6px;
}
.collection-card p {
  font-size: 16px;
  font-weight: bold;
  color: #787885;
}
.star i {
  padding-top: 16px;
  font-size: 16px;
  color: #fb8200;
}
.see-more {
  margin-top: 55px;
  margin-bottom: 75px;
  float: right;
}
.see-more a {
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
  color: #893fff;
}
.see-more i {
  margin-left: 10px;
}
/*---------------------------------------
     Popular Collection section End 
 ----------------------------------------*/

/*---------------------------------------
    Our App section Start 
 ----------------------------------------*/

.our-app {
  display: flex;
  margin-top: 75px;
}

.app-image img {
  width: 80%;
  margin-top: 58px;
  border-radius: 25px;
}

.app-info {
  width: 50%;
  padding: 10px;
}
.app-info h1 {
  color: #00a9be;
  font-size: 44px;
  font-weight: bold;
}
.app-info h4 {
  padding-top: 20px;
  color: #00a9be;
  font-size: 20px;
  font-weight: bold;
}
.app-info p {
  color: gray;
  padding-top: 20px;
  font-size: 18px;
  text-align: justify;
  line-height: 20px;
  font-weight: bold;
}

.app-info a {
  padding: 5px;
  color: black;
  border-radius: 41px;
  font-size: 25px;
  background-color: #3fb1ff;
  text-decoration: none;
}

/*---------------------------------------
    Our App section End 
 ----------------------------------------*/

/*---------------------------------------
              Contact Us Start
 ----------------------------------------*/
.contact{
  background-color:#e8d1f6;
  text-align: center;
  justify-content: center;
}
.form{
  width:340px;
  height:440px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  position:relative;
 
}
button{
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s
}

button:hover{
  background:#78788c;
  color:#fff
}

form h2{
  margin:10px 50px;
  padding-bottom:10px;
  width:180px;
  color:#78788c;
  border-bottom:3px solid #78788c
}
input{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2
}

/*---------------------------------------
              Contact Us End
 ----------------------------------------*/


/*---------------------------------------
    Footer section Start 
 ----------------------------------------*/

footer {
  width: 100%;
 
  padding: 30px;
  color: #fff;
  background-color: #0a0826;
  text-align: center;
}
footer h1 {
  color: #3fb1ff;
}
.footer-content p {
  margin-top: 10px;
  font-size: 18px;
}
.social-icons i {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 25px;
  color: #fff;
}

/*---------------------------------------
               Footer End
 ----------------------------------------*/

/*---------------------------------------
   Mobile Media query 
 ----------------------------------------*/

@media only screen and (max-width: 668px) {
  body {
    margin: 0;
    padding: 0;
  }
  .menu-bar {
    display: flex;
  }

  nav h2 {
    text-align: right;
    width: 100%;
    font-size: 24px;
  }
  nav ul {
    display: none;
  }
  header h1 {
    text-align: center;
    font-size: 30px;
  }
  header p {
    margin-left: -25px;
    text-align: center;
    font-size: 16px;
  }
  header a {
    font-size: 18px;
  }
  header,
  .our-app {
    flex-direction: column;
  }
  .header-text {
    /* margin: 25px;
    width: 90%; */
    margin: 0 10%;
    width: 100%;
  }
  .header-image {
    background-position: left center;
    background-size: 90%;
    width: 80%;
  }
  .header-image img {
    width: 100%;
  }
  .collections {
    margin-left: 35px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .collection-card {
    height: 497px;
    width: 312px;
    margin: 10px;
  }
  .collection-card h4,
  p {
    text-align: left;
  }
  .collection-card p {
    text-align: left;
  }

  .collection-card img {
    height: 308px;
    width: 100%;
  }
  .our-app {
    width:433px;
  }
  
  .app-image {
    margin-left: 45px;
    width: 100%;
  }
  .app-info {
    margin-top: 0px;
    width: 100%;
  }
  .app-info h1,
  h4,
  p {
    text-align: center;
  }
  .app-info p {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
  }
  .contact{
    width:433px;
    margin-top:25px;
  }
}


/*---------------------------------------
   Tablet Media query 
 ----------------------------------------*/

@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .header-text h1 {
    font-size: 36px;
  }
  .header-text p {
    font-size: 20px;
    text-align: justify;
  }
  .header-image {
    width: 50%;
    background-position: left center;
    background-size: 400px 400px;
  }
  .header-image img {
    margin-top: 18%;
    width: 100%;
  }
  .collection-card {
    height: 428px;
    width: 273px;
  }
  .collection-card img {
    width: 100%;
  }
  .our-app {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
  }
  .app-image {
    margin-left: 25px;
    padding: 0;
    margin: 30px;
  }
  .app-image img {
    width: 100%;
    border-radius: 25px;
  }
  .app-info {
    margin-left: 25px;
    margin-top: 103px;
  }
  .app-info h1 {
    font-size: 30px;
  }
  .app-info p {
    font-size: 16px;
  }
  .app-info h4 {
    font-size: 16px;
  }
  .app-info a {
    font-size: 14px;
  }
}


/*---------------------------------------
              Desktop Media query 
 ----------------------------------------*/

@media only screen and (min-width: 992px) {
  body {
    margin: 0;
    padding: 0;
  }
  .header-text{
    margin-top: 170px;
  }

  .header-text h1 {
    font-size: 36px;
  }
  .header-text p {
    font-size: 20px;
    text-align: justify;
  }
  .header-image {
    width: 50%;
    margin-top: 65px;
    background-position: left center;
    background-size: 400px 400px;
  }
  .header-image img {
    margin-top: 52px;
    width: 80%;
  }
  .collection-card {
    height: 440px;
    width: 294px;
  }
  .collection-card img {
    width: 100%;
  }
  .our-app {
    display: flex;
    
  }
  .app-image {
    margin-left: 25px;
    padding: 0;
    margin: 30px;
  }
  .app-image img {
    width: 90%;
    border-radius: 25px;
  }
  .app-info {
    margin-left: 25px;
    margin-top: 139px;
  }
  .app-info h1 {
    font-size: 40px;
  }
  .app-info p {
    font-size: 20px;
  }
  .app-info h4 {
    font-size: 24px;
  }
  .app-info a {
    font-size: 20px;
  }
}
